<div style="padding: 30px;">
  <%= form_with model: meet, url: meets_path(@meet), method: :post do |form| %>
    <%= render 'shared/errors', resource: @meet %>
    <div class="field m-2">
      <p>День</p>
      <%= form.select :day, ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'] %>
    </div>

    <div class="field m-2">
      <p>Время</p>
      <%= form.time_select :time, {minute_step: 30} %>
    </div>

    <div class="field m-2" id="area">
      <p>Место</p>
      <%= form.text_area :place,
                         placeholder: 'Hard Rock cafe, Парк и тд',
                         class: "form-control",
                         rows: 2
      %>
    </div>

    <div class="field m-2" id="area">
      <p>Дополнительная информация</p>
      <%= form.text_area :optional,
                         placeholder: 'Любая информация (Что ты наденешь, Какие цветы ты любишь..).',
                         class: "form-control",
                         rows: 4
      %>
    </div>

    <div class="field m-2">
      <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>